
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@using (Html.BeginForm("SetData", "MBinder"))
{
    <input type="hidden" name="ID" value="414"/><p>22</p>
    <input type="hidden" name="Name" value="Hello" /><p>sdf</p>
    <input type="button" name="submit" />
}