
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@Html.ActionLink("ActionOne", "ActionOne", new { id = 23})
@Html.ActionLink("ActionTwo", "ActionTwo")
@Html.ActionLink("ActionTree", "ActionTree")
