@model IEnumerable<AspNetExamps.Models.ForView.Product>

<table>
    <tr>
        <th>
            id
        </th>
        <th>
            Name
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.ID
            </td>
            <td>
                @item.Name
            </td>
        </tr>
    }
</table>
