
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@ViewBag.Title = "Index"

<h2>Index</h2>

@section Header{
        Header
    }
@section Body{
        @Html.Action("ShowTable", new { number = 10})
    }
@section Footer{
        Footer
    }

