@model AspNetExamps.Models.Pro.Product


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @Html.DisplayForModel()
        @Html.EditorForModel()
    </div>
</body>
</html>
